<section class="container py-4 py-md-5 mt-md-3">
   <h2 class="text-center p-3 py-md-4">{{ section.settings.title }}</h2>
   <div class="row g-3 row-cols-md-3 row-cols-1 px-3">
      {% for product in collections[section.settings.featured_collection].products %}
        {% assign image = product.featured_media.preview_image %}
      
      <div class="col">
         <div class="card">
            {% if image != blank %}
              <img class="card-img-top" src="{{ image | img_url: 'master' }}" alt="{{ product.title }}">
            {% else %}
               {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
            {% endif %}
          
             <div class="card-body">
               <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
               <p>{{ product.price | money_with_currency }}</p>
             </div>
         </div> 
      </div>
      {% endfor %}
   </div>
</section>
  <div class="iframe-container">
    <iframe id="my-iframe" src="http://ivl-scheduler.herokuapp.com/" onload="resizeIframe()"></iframe>
  </div>

<script>
  function resizeIframe() {
    var iframe = document.getElementById('my-iframe');

    iframe.contentWindow.postMessage('getIframeHeight', 'http://ivl-scheduler.herokuapp.com/');
  }

  window.addEventListener('message', function(event) {
    if(event.origin === 'http://ivl-scheduler.herokuapp.com/') {
      var iframe = document.getElementById('my-iframe');
      var height = parseInt(event.data);

      iframe.style.height = height + 'px';
    }
  });

  // listen for messages sent from the parent iframe
  
  window.addEventListener('message', function(event) {
    if(event.origin === 'https://ketta-store.myshopify.com/' && event.data === 'getIframeHeight') {
      var height = document.body.scrollHeight;

      parent.postMessage(height, 'https://ketta-store.myshopify.com/');
    }
  });
</script>

<style>
  .iframe-container {
    width: 100%;
/*     height: 0; */
/*     padding-bottom: 56.25%; */
    position:relative;
  }
  
  .iframe-container iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
/*     height:100%; */
    border:none;
  }
</style>



{% schema %}
{
    "name": "Featured Collection",
    "class": "featured-collection-section",
    "settings": [
       {
        "type": "collection",
        "id": "featured_collection",
        "label": "Collection"
       },
       {
        "type": "text",
        "id": "title",
        "default": "Featured Collection", 
        "label": "Title"
       } 
    ],
    "presets": [
       {
        "category": "Collection",
        "name": "Featured Collection"
       }
    ]
}
{% endschema %}